body {
	background-image: url(../images/bg2.jpg);
	/*background-color:blue;*/
	background-size: cover;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	background-repeat: no-repeat; 
	color:#fff; /*white*/
	font-family: 'Bai Jamjuree', sans-serif;
	/*height: 100vh;*/
}
h1{
	font-size: 60px;
	margin-bottom:0;
	background-color:#333; /*off-black*/
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Merriweather', serif;
	border-radius: 15px;
}
h2{
	font-size: 35px;
	text-transform: uppercase;
	background-color:#333; /*off-black*/
	letter-spacing: 5px;
	color: #2B9FE7;
	border-radius: 10px;
}

#me {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border-width: 3px;
	border-style: solid;
	border-color: #FF8633;
	margin-top: 50px;
}

.bio {
	width: 100%;
	font-size:18px;
	line-height: 1.5;
	background-color: rgba(51,51,51,0.55);
	font-family: 'Noto Sans KR', sans-serif;
	border-radius: 10px;


}

.container {
	width: 850px;
	margin: 0 auto;
	text-align: center;
}











